html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family:
    Helvetica Neue,
    Helvetica,
    Arial,
    sans-serif;
}

.swiper {
  width: 100%;
}

.swiper-wrapper {
  display: flex;
  align-items: stretch;
}

.swiper-slide {
  height: auto !important;
  display: block;
}

.swiper-slide img {
  display: block;
  max-width: 100%;
}
